<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebRTC Demo</title>
    
    <!-- update the version number as needed -->
    <script defer src="/__/firebase/10.4.0/firebase-app-compat.js"></script>
    <!-- include only the Firebase features as you need -->
    <script defer src="/__/firebase/10.4.0/firebase-auth-compat.js"></script>
    <script defer src="/__/firebase/10.4.0/firebase-database-compat.js"></script>
    <script defer src="/__/firebase/10.4.0/firebase-firestore-compat.js"></script>
    <script defer src="/__/firebase/10.4.0/firebase-functions-compat.js"></script>
    <script defer src="/__/firebase/10.4.0/firebase-messaging-compat.js"></script>
    <script defer src="/__/firebase/10.4.0/firebase-storage-compat.js"></script>
    <script defer src="/__/firebase/10.4.0/firebase-analytics-compat.js"></script>
    <script defer src="/__/firebase/10.4.0/firebase-remote-config-compat.js"></script>
    <script defer src="/__/firebase/10.4.0/firebase-performance-compat.js"></script>
  </head>
  <body>
    <h2>1. Start your Webcam</h2>
    <div class="videos">
      <span>
        <h3>Local Stream</h3>
        <video id="webcamVideo" autoplay playsinline></video>
      </span>
      <span>
        <h3>Remote Stream</h3>
        <video id="remoteVideo" autoplay playsinline></video>
      </span>


    </div>

    <button id="webcamButton">Start webcam</button>
    <h2>2. Create a new Call</h2>
    <button id="callButton" disabled>Create Call (offer)</button>

    <h2>3. Join a Call</h2>
    <p>Answer the call from a different browser window or device</p>
    
    <input id="callInput" />
    <button id="answerButton" disabled>Answer</button>

    <h2>4. Hangup</h2>

    <button id="hangupButton" disabled>Hangup</button>

    <script type="module" src="../main.js"></script>

  </body>
</html>
